name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9"]
    timeout-minutes: 30
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      # - uses: pdm-project/setup-pdm@v3
      #   name: Set up PDM
      #   with:
      #     python-version: ${{ matrix.python-version }}
      #     cache: true

      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true
          python-version: ${{ matrix.python-version }}
          conda-channels: anaconda, conda-forge
          activate-environment: test

      - name: Install dependencies
        run: |
          mamba install -c conda-forge openbabel fftw -y
          pip install -e ".[dev]"
          pip install pyxtal 
          
      - name: Test
        run: pytest tests